<%- include("header") -%>
<div class="box" id="heading">
    <div class="box-flex">
    <h1><%= listTitle %></h1>
    <button class="work"><a href="/work">Work</a></button>
    </div>
</div>
    <div class="head">
        
        <img src="css/header.jpg" class="header_img">
    </div>
    

    <div class="box1">
    <%  for (var i=0; i<newListItems.length; i++){ %>
    <div class="item">
        <input type="checkbox">
            <p><%= newListItems[i] %></p>
    </div>
     <%   } %>

     <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="Add New Task" autocomplete="off">
        <button class="but" name="list" type="submit" value=<%= listTitle %>>+</button>
        </form>
    </div>
<%- include("footer") -%>
 